@(tasks: List[Task]) 
@import helper._ 
@import helper.twitterBootstrap._ 

			<div id="listagem">
				
				@if(tasks.isEmpty()) {
				<h2>Você não possui nenhuma tarefa</h2>
				} else {				
				
				<div class="alert alert-info">
		  		<button type="button" class="close" data-dismiss="alert">&times;</button>
				  Você possui @tasks.size() tarefa(s) adicionada(s)
				</div>
				
				<div class="btn-toolbar">
					<div class="btn-group">
						<a href="/tasks/list/label" class="btn">
							<i class="icon-font"></i>
						</a>
						<a href="/tasks/list/timeCreation" class="btn">
							<i class="icon-font"></i>
						</a>
						<a href="/tasks/list/timeEnding" class="btn">
							<i class="icon-font"></i>
						</a>
					</div>
				</div>
				
				<table class="table table-condensed">				
					<tbody>
						@for(task <- tasks) {
						<div class="entrada">
							<tr class="linha-tabela-bem-escura">
								<td>
									<h3><strong class="draggable">@task.label</strong></h3>	
								</td>
								<td colspan="2">
								<ul class="nav">
									<li>
										@helper.form(routes.TaskController.editTask(task.id),
										args = 'class -> "pull-left") { 
											<button class="btn btn-primary btn-small fixedwidth"><i class="icon-white icon-pencil"></i><p>Editar</p></button>
										}	
									</li>	
									<li>							
										@if(task.status.equals(TaskStatus.PENDING) || task.status.equals(TaskStatus.DELAYED)){
											@helper.form(routes.TaskController.completeTask(task.id),
											args = 'class -> "pull-left") {
												<button class="btn btn-success btn-small fixedwidth"><i class="icon-white icon-ok"></i><p>Completar</p></button>
											}									
										} else {
											<span class="pull-left">
												<button class="btn btn-success btn-small fixedwidth disabled" disabled><i class="icon-white icon-ok"></i><p>Completar</p></button>										
											</span>
										}
									</li>	
									<li>
										@if(!task.status.equals(TaskStatus.CANCELED)){
											@helper.form(routes.TaskController.cancelTask(task.id),
											args = 'class -> "pull-left") {
												<button class="btn btn-warning btn-small fixedwidth"><i class="icon-white icon-arrow-down"></i><p>Cancelar</p></button>
											}
										} else {
											<span class="pull-left">
												<button class="btn btn-warning btn-small fixedwidth disabled" disabled><i class="icon-white icon-arrow-down"></i><p>Cancelar</p></button>
											</span>
										}
									</li>	
									<li>
										@helper.form(routes.TaskController.deleteTask(task.id),
										args = 'class -> "pull-left") {
											<button class="btn btn-danger btn-small fixedwidth"><i class="icon-white icon-trash"></i><p>Excluir</p></button>
										}
									</li>
								</ul>										
								</td>
							</tr>	
							<tr class="droppable">
								<td colspan="3">
								@helper.form(routes.TaskController.setAsImportant(task.id),
										args = 'class -> "pull-left") {
										@if(task.important!= null && task.important.equals(Boolean.TRUE)){
											<button class="btn btn-danger btn-small fixedwidth"><i class="icon-white icon-warning-sign"></i> Importante</button>
										} else {										
											<button class="btn btn-small fixedwidth"><i class="icon-white icon-warning-sign"></i> Marcar como importante</button>
										}
								}
								
								</td>
							</tr>			
							<tr valign="middle" class="linha-tabela-escura">
									<td><span>Prazo para conclusão</span></td>
									<td><span>Data de encerramento</span></td>
									<td><span>Status</span></td>
							</tr>
							<tr class="linha-tabela">
									<td><span class="text-info">@task.timeLeftBeforeExpires()</span></td>
									<td><span class="text-info">@task.dateEndingFormatted()</span></td>
									<td><span class="label" title="Status da atividade">@task.statusFormatted()</span></td>
							</tr>
						</div>
						}
					</tbody>
				</table>
					}
				</div>
