.linha-tabela {
background-color: #222222;
}

.linha-tabela-escura {
background-color: #1F1F1F;
}

.linha-tabela-bem-escura {
background-color: #121212;
}

.inline {
float:left;
}

.fixedwidth {
    min-width: 80px;
    margin-right: 5px;
    margin-top: 5px;
}

body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



